name: Go CI

on:
  pull_request:
  push:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Install SDL2 dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsdl2-dev pkg-config

      - name: Download dependencies
        run: go mod tidy

      - name: Run tests
        run: go test ./tests -v -run "TestGol/-1$"
